Repository googleinterns/step187-2020, pull requests merged in 2020-08, with the labels that each got.

#30 Alter alert model to include ID field
  backend/src/main/java/com/google/blackswan/mock/DummyAlertGenerator.java
  backend/src/main/java/com/google/blackswan/mock/SimpleAlertGenerator.java
  backend/src/main/java/com/google/blackswan/servlets/CronServlet.java
  backend/src/main/java/com/google/models/Alert.java
  backend/src/test/java/com/google/backend/servlets/AlertsDataServletTest.java
  backend/src/test/java/com/google/blackswan/mock/SimpleAlertGeneratorTest.java
  backend/src/test/java/com/google/models/AlertTest.java
Labels: models

#35 Anomaly datapoints now in order sorted by timestamp + make maps, lists immutable
  backend/src/main/java/com/google/models/Alert.java
  backend/src/main/java/com/google/models/Anomaly.java
  backend/src/main/java/com/google/models/Timestamp.java
  backend/src/test/java/com/google/backend/servlets/AlertsDataServletTest.java
  backend/src/test/java/com/google/models/AnomalyTest.java
  backend/src/test/java/com/google/models/TimestampTest.java
Labels: bug, models

#43 More advance implementation of RelatedDataGenerator
  backend/src/main/java/com/google/blackswan/mock/SimpleAnomalyGenerator.java
  backend/src/main/java/com/google/blackswan/mock/SimpleRelatedDataGenerator.java
  backend/src/main/java/com/google/models/Anomaly.java
  backend/src/main/java/com/google/models/DataInfo.java
  backend/src/main/resources/pho-data.csv
  backend/src/main/resources/udon-data.csv
Labels: blackswan mock

#42 Working dummy related data generator with hard-coded related data
  backend/src/main/java/com/google/blackswan/mock/CSVParser.java
  backend/src/main/java/com/google/blackswan/mock/DummyRelatedDataGenerator.java
  backend/src/main/java/com/google/blackswan/mock/RelatedDataGenerator.java
  backend/src/main/java/com/google/blackswan/mock/SimpleAnomalyGenerator.java
  backend/src/main/java/com/google/blackswan/mock/SimpleRelatedDataGenerator.java
  backend/src/main/java/com/google/models/Alert.java
  backend/src/main/java/com/google/models/Anomaly.java
  backend/src/main/java/com/google/models/DataInfo.java
  backend/src/main/java/com/google/models/RelatedData.java
  backend/src/main/resources/.gitignore
  backend/src/main/resources/pho-data.csv
  backend/src/main/resources/udon-data.csv
  backend/src/test/java/com/google/blackswan/mock/SimpleAlertGeneratorTest.java
  backend/src/test/java/com/google/blackswan/mock/SimpleAnomalyGeneratorTest.java
  backend/src/test/java/com/google/models/AnomalyTest.java
Labels: blackswan mock, models

#56 Adjust related data to process both metric and dimension + tests
  backend/src/main/java/com/google/blackswan/mock/DummyRelatedDataGenerator.java
  backend/src/main/java/com/google/blackswan/mock/RelatedDataGenerator.java
  backend/src/main/java/com/google/blackswan/mock/SimpleAnomalyGenerator.java
  backend/src/main/java/com/google/blackswan/mock/SimpleRelatedDataGenerator.java
  backend/src/main/java/com/google/models/DataInfo.java
  backend/src/main/java/com/google/models/DataInfoUser.java
  backend/src/test/java/com/google/models/DataInfoTest.java
Labels: blackswan mock, enhancement, models

#46 Change alert status in Datastore from management frontend
  backend/src/main/java/com/google/backend/servlets/AlertsDataServlet.java
  backend/src/test/java/com/google/backend/servlets/AlertsDataServletTest.java
  frontend/src/AlertsManagement/AlertsContent.js
  frontend/src/AlertsManagement/AlertsContent.test.js
  frontend/src/AlertsManagement/AlertsList.js
  frontend/src/AlertsManagement/management_constants.js
Labels: alert management

#52 Two file system implementations + tests for file system and RelatedData
  README.md
  backend/pom.xml
  backend/src/main/java/com/google/blackswan/mock/SimpleAnomalyGenerator.java
  backend/src/main/java/com/google/blackswan/mock/filesystem/CloudFileSystem.java
  backend/src/main/java/com/google/blackswan/mock/filesystem/FileSystem.java
  backend/src/main/java/com/google/blackswan/mock/filesystem/LocalFileSystem.java
  backend/src/main/java/com/google/models/Anomaly.java
  backend/src/main/resources/interest-ramen.csv
  backend/src/test/java/com/google/blackswan/mock/filesystem/CloudFileSystemTest.java
  backend/src/test/java/com/google/blackswan/mock/filesystem/LocalFileSystemTest.java
  backend/src/test/java/com/google/models/AnomalyTest.java
  backend/src/test/java/com/google/models/RelatedDataTest.java
Labels: blackswan mock, enhancement

#61 Enhance timestamp class to be stored as long in datastore to enable sorting
  backend/src/main/java/com/google/models/Alert.java
  backend/src/main/java/com/google/models/Timestamp.java
  backend/src/test/java/com/google/models/AlertTest.java
  backend/src/test/java/com/google/models/TimestampTest.java
Labels: blackswan mock, models

#66 Limit number of alerts displayed on Alerts page and allow user input
  backend/src/main/java/com/google/backend/servlets/AlertsDataServlet.java
  backend/src/test/java/com/google/backend/servlets/AlertsDataServletTest.java
  frontend/src/AlertsManagement/AlertInfo.test.js
  frontend/src/AlertsManagement/AlertsContent.js
  frontend/src/AlertsManagement/AlertsContent.test.js
  frontend/src/AlertsManagement/management_constants.js
  frontend/src/AlertsManagement/management_helpers.js
  frontend/src/AlertsManagement/management_helpers.test.js
Labels: alert management
