Repository googleinterns/step187-2020, pull requests merged in 2020-09, with the labels that each got.

#69 Implement python microservice and html page for running jobs
  README.md
  backend/src/main/webapp/WEB-INF/appengine-web.xml
  backend/src/main/webapp/blackswan/index.html
  backend/src/main/webapp/blackswan/script.js
  python/.gcloudignore
  python/.gitignore
  python/app.yaml
  python/main.py
  python/requirements.txt
Labels: blackswan mock, enhancement

#65 Create charts for related data
  frontend/src/AlertsManagement/AlertInfo.js
  frontend/src/AlertsManagement/AlertInfo.test.js
  frontend/src/AlertsManagement/management_helpers.js
  frontend/src/AlertsManagement/management_helpers.test.js
  frontend/src/Home.js
  frontend/src/NavBar.js
  frontend/src/flags.js
  frontend/yarn.lock
Labels: alert management

#75 Connect RelatedDataGenerator to query configs from Datastore
  backend/src/main/java/com/google/blackswan/mock/Constant.java
  backend/src/main/java/com/google/blackswan/mock/SimpleAnomalyGenerator.java
  backend/src/main/java/com/google/blackswan/mock/SimpleRelatedDataGenerator.java
  backend/src/main/java/com/google/blackswan/servlets/CronServlet.java
  backend/src/main/java/com/google/models/DataInfo.java
  backend/src/main/java/com/google/models/DataInfoUser.java
  backend/src/main/resources/pho-us--data.csv
  backend/src/main/resources/ramen-us--data.csv
  backend/src/main/resources/udon-us--data.csv
  backend/src/test/java/com/google/blackswan/mock/filesystem/CloudFileSystemTest.java
  backend/src/test/java/com/google/blackswan/mock/filesystem/LocalFileSystemTest.java
  backend/src/test/java/com/google/models/DataInfoTest.java
Labels: alert config, blackswan mock

#78 Cleanup + update parts of README
  README.md
  backend/src/main/java/com/google/blackswan/mock/Constant.java
  backend/src/main/java/com/google/blackswan/mock/SimpleAnomalyGenerator.java
  backend/src/main/java/com/google/blackswan/mock/SimpleRelatedDataGenerator.java
  dispatch.yaml
Labels: blackswan mock
